<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="7zip"/>
    <package id="blender"/>
    <package id="ccenhancer"/> 
    <package id="ccleaner"/>
    <package id="discord"/>
    <package id="dropbox"/>
    <package id="epicgameslauncher"/>
    <package id="expressvpn"/>
    <package id="f.lux"/>
    <package id="filezilla"/>
    <package id="firefox"/>
    <package id="git"/> 
    <package id="lastpass"/> 
    <package id="lmms"/>
    <package id="mp3tag"/>
    <package id="musicbee"/>
    <package id="nodejs"/>
    <package id="pandoc"/>
    <package id="putty"/> 
    <package id="python3"/>
    <package id="rufus"/>
    <package id="potify"/>
    <package id="steam"/>
    <package id="streamlabs-obs"/>
    <package id="vlc"/>
    <package id="vscodium"/>
    <package id="whatsapp"/>
</packages>